.searchBar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.header {
  color: rgb(50, 81, 88);
  text-align: center;
}

.buttons {
  margin: 0 10px;
}

.genericText {
  margin-right: 10px;
  color: rgb(50, 81, 88);
}

.highlightedText {
  color: rgb(108, 165, 103);
}

